@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-200;
  }
}

@layer utilities {
  .bg-rack-pattern {
    background-color: #020617;
    background-image: 
        linear-gradient(rgba(30, 41, 59, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(30, 41, 59, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}